.footer {
    width: 1803px;
    height: 100px;
    background-color: gray;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: white;
}

