.header{
  display:flex; /* 옆으로 쌓임 */
  align-items:center; /* 위아래 가운데 정렬 */
  /*position: sticky; 스크롤 위치에 따라 어디에 위치에 있는지*/
  /*top: 0;*/
  /*z-index: 100; 겹칠 때 우선순위 */
}

.header_logo{
  width: 200px;
  object-fit: contain;
}

nav ul {
  list-style: none;
  display: inline-block;
  padding: 20px;
  margin: 0 410px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  margin: 0 20px;
}

.homelogin{
  padding: 10px;
  margin: 0 20px;
  text-decoration: none;
}

.homelogin:visited{
  color: black;
}

.header_search{
  display: flex;
  flex: 1;  /*차지하는 비율*/
  /* border-radius: 10px; */
  align-items:center;
  float: right;
  margin-right:10px;
}

.header_searchInput{
  height: 12px;
  padding: 10px;
  border-radius: none;
  width: 35%;
  text-align: left;
}

.header_searchIcon{
  padding:10px;
  height:15px;
}

