.header{
  height:90px;
  display:flex; /* 옆으로 쌓임*/
  align-items:center;
  background-color:rgb(61, 182, 188);
  position: sticky; /* 스크롤 위치에 따라 어디에 위치에 있는지*/
  top: 0;
  z-index: 100; /* 겹칠 때 우선순위 */
}

.header_logo{
  width: 100px;
  object-fit:contain;
  margin : 0 20px;
  margin-top: 15px;
}

.header_search{
  display: flex;
  flex: 1;  /*차지하는 비율*/
  align-items: center;
  border-radius: 20px;
}

.header_searchInput{
  height: 12px;
  padding: 10px;
  border-radius: none;
  width: 100%;
}

.header_searchIcon{
  background-color: #cd9042;
  padding:5px;
  height:15px;

}

.header_option{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header_nav{
  display: flex;
  justify-content: space-evenly;  /* 공평하게 띄움 */
}


.header_optionLineOne{
  font-size: 10px;
}

.header_optionLineTwo{
  font-size: 13px;
  font-weight: 800;
  margin-top: 3px;
}

.header_optionBasket{
  display: flex;
  align-items: center;
  color: white;
}

.header_optionLineTwoheader_basketCount{
  margin-right: 10px;
  margin-left: 10px;
}

