.margin {
    margin: 50px;
}

h2 {
    text-align: center;
    margin: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    width: 800px;
    margin: 0px auto;
    font-size: xx-large;
}

li {
    text-align: center;
    margin: 30px 50px;
}

.locationImg {
    display : flex;
    justify-content : center;
    margin: 40px;
}

#hosImg, #pharImg {
    margin: 10px ;
}

.locationButtons {
    display : flex;
    justify-content : center
}

button {
    font-size: xx-large;
}

 #hosButton, #pharButton{
    margin: 0px 160px;
}