.margin {
    margin: 50px;
}

#statTitle {
    text-align: center;
}

#locationTitle {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    width: 700px;
    margin: 0px auto;
    font-size: x-large;
}

li {
    text-align: center;
    margin: 50px 50px;
}